{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "commonjs": true
  },
  "plugins": [
		"jest",
		"import",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": [
        "integration-tests/**/*",
        "performance-tests/**/*"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "@typescript-eslint/no-empty-function": "off"
      }
    },
    {
      "files": [
        "dev-scripts/**/*.js"
      ],
      "env": {
        "node": true
      }
    }
  ]
}
